
.recipes-row
  = render @recipe

= link_to 'Edit', edit_recipe_path(@recipe) if current_user == @recipe.user
= link_to 'Back', recipes_path

.page-header
  %h3 Comments
  
.comments
  = render @recipe.comments
  = form_tag comments_path, :remote => true, :id => "comment_form" do
    .form-group
      = text_area_tag :comment,"", :placeholder => "Add a comment", :class => "form-control", :id => "comment", :style => "margin-top: 20px;", :required => true
      = hidden_field_tag :recipe, @recipe.id
      = submit_tag "Post", :class => "form-control btn btn-primary", :style => "margin-top: 20px;", :id => "comment_submit"
