%p
  %strong Title:
  = @recipe.title
%p
  %strong Tagline:
  = @recipe.tagline
%p
  %strong Submitter:
  = @recipe.user.email

= link_to 'Edit', edit_recipe_path(@recipe) if current_user == @recipe.user
= link_to 'Back', recipes_path
%br
Comments

= render @recipe.comments
= form_tag comments_path, :remote => true, :class => "form-horizontal" do
  .form-group
    .input-group{:style => "padding-top:20px"}
      = text_field_tag :comment,"", :placeholder => "Add a comment", :class => "form-control", :id => "comment"
      = submit_tag
