.row
  .col-md-6.col-md-offset-5
    = image_tag @user.image, :width => 150, :height => 150, :style => "border-radius: 50%;"

.name{:style => "padding-top:20px"}
  = @user.name
  = link_to "Edit", "javascript:void(0)", :id => "edit_name", :style => "font-size: 16px"

.job
  - if @user.job?
    .center-text
      = @user.job
      = link_to 'Edit', edit_job_user_path(@user), :id => 'edit_job', :style => 'font-size: 12px', :remote => true, :method => :POST
  - elsif @user == current_user
    = render "jobform"
  - else
    Foodhunt User
%br
%br

.recipes-row
  .page-header
    %h3 Submitted
  = render @user.submitted
  .page-header
    %h3 Voted
  = render @user.voted
